!!! 5
html
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width")
		title Login 
		link(rel='stylesheet',href='css/foundation.css')
		script(src="js/modernizr.js")
		script#userHerosTpl(type="text/tmpl").
			<% _.each(heros, function(hero) { %>
				<li id="user_<%= hero.id%>">
					<span title="star: <%= hero.star %>
					level: <%= hero.level %>
					life: <%= Math.round(hero.life) %>
					attack: <%= Math.round(hero.attack) %>"><%= hero.name %></span>
					<a class="add-to-team">加入团队</a>
					<a class="up-level">升级</a>
					<span class="level right"><%= hero.level %></span>
				</li>
			<% }); %>
		script#teamHerosTpl(type="text/tmpl").
			<% _.each(heros, function(hero) { %>
				<li id="team_<%= hero.id%>">
					<span title="star: <%= hero.star %>
					level: <%= hero.level %>
					life: <%= Math.round(hero.life) %>
					attack: <%= Math.round(hero.attack) %>"><%= hero.name %></span>
					<span class="level right"><%= hero.level %></span>
					<a class="delete-from-team">离开团队</a>
				</li>
			<% }); %>
		script#usersTpl(type="text/tmpl").
			<% _.each(users, function(user) { %>
				<li>
					<span class="user"><%= user.name %></span>
				</li>
			<% }); %>
	body
		div.row
			div.columns.large-12
				div.section-container.auto(data-section)
					section.active
						p.title(data-section-title)
							a#tabHero(href="panel1") 英雄
						div.content(data-section-content)
							ul#heroList.row
					section
						p.title(data-section-title)
							a#tabTeam(href="panel2") 团队
						div.content(data-section-content)
							div.row
								div#beginFight.button.alert.round 开始战斗
							ul#team.row
					section
						p.title(data-section-title)
							a#tabUser(href="panel3") 用户
						div.content(data-section-content)
							ul#userList

		script(src="js/lodash.js")
		script(src="js/jquery.js")
		script(src="js/foundation.js")
		script(src="js/app.js")

